/*------> A propos */
.apropos_title{
    padding: 50px 0 0;
}
.bloc_apropos{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 50px;
}

.apropos_image{
    margin-right: 30px;
}

.apropos_image img{
    border-radius: 5px;
}

.apropos_presentation{
    font-family: "Playfair Display", sans-serif;
    font-size: 0.85rem;
    color: #9E9E9E;
    width: 80%;
    line-height: 30px;
}

.apropos_presentation p{
    font-family: "Playfair Display", sans-serif;
}




/*------> NOTRE EQUIPE */

.agents_cards{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 60px;
}

.agent_thumbnail {
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.agent_title{
    padding: 30px 0 0;
    font-weight: normal;
}

.agent_poste{
    font-family: "Playfair Display", sans-serif;
    font-size: small;
    color: #9E9E9E;
    padding: 10px 0;
}
