/*-----> HOME & A PROPOS = POINTS FORTS*/

.points_forts {
    background-color: #fbfbfb;
}

.points_forts_vignette {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    padding: 100px 0;

}

.points_forts_vignette li {
    display: flex;
    flex-direction: column;

}

.points_forts_title {
    padding: 15px 0;
}

.points_forts_description p {
    font-family: "Playfair Display", sans-serif;
    font-size: 0.8rem;
    color: #9E9E9E;
}

.points_forts_img {
    height: 60px;
    padding: 0 0 70px;
}